/*

Breakpoints:
$breakpoint-small-medium: 768px;
$breakpoint-medium-large: 1024px;
$breakpoint-medium-large: 1200px;

Palette:
$clouds: #ccd3dd;
$ufo: #4d496e;

*/

body {
	font-family: "Courier New";
	font-size: 16px;
	text-align: center;
}

.wrapper {
	position: absolute;
	left: 5%;
	top: 15%;
	right: 5%;
}

.header {
	font-size: 35px;
}

.image--wrapper {
	background-image: url("../assets/jasper-sm.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 400px;
}

.header + .image--wrapper {
	margin-top: 20px;
}

.about--wrapper {
	margin: 0 auto;
	max-width: 500px;
	text-align: justify;
}

.image--wrapper + .about--wrapper {
	margin-top: 20px;
}

.about--welcome,
.contact--get-in-touch {
	font-family: "Courier New"
}

.about--description {
	margin-top: 20px;
}

.contact--wrapper {
	margin-top: 30px;
}

.contact--personal {
	margin-top: 20px;
}

.contact--social {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.contact--icon + .contact--icon {
	margin-left: 10px
}

@media (min-width: 768px) {
	body {
		font-size: 18px;
	}

	.image--wrapper {
		background-image: url("../assets/jasper-lg.jpg");
		height: 500px;
	}

	.about--wrapper {
		max-width: 700px;
	}

	.image--wrapper + .about--wrapper {
		margin-top: 40px;
	}

	.header {
		font-size: 50px;
	}

	.wrapper {
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	body {
		background-size: cover;
		font-size: 20px;
	}

	.header {
		font-size: 50px;
	}
}
