/** @format */

@font-face {
  font-family: "Maelstrom Sans";
  src: url("../fonts/maelstrom-sans-test-bold.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "Oranienbaum", serif;
  font-size: 20px;
}

.wrapper {
  background-image: url("../assets/jasper-sm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.content--wrapper {
  display: flex;
  flex-direction: column;
  height: 98%;
  justify-content: space-between;
  margin: 0 2%;
}

.header {
  color: #db0000;
  font-family: "Maelstrom Sans";
  font-size: 62px;
}

.about--wrapper {
  color: #fdfcf3;
  max-width: 300px;
}

.about--welcome,
.contact--get-in-touch {
  text-transform: uppercase;
}

.about--description {
  margin-top: 20px;
}

.contact--wrapper {
  margin-top: 30px;
}

.contact--personal {
  margin-top: 20px;
}

.contact--social {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.contact--icon + .contact--icon {
  margin-left: 10px;
}

svg {
  fill: #fdfcf3;
}

@media (min-width: 768px) {
  body {
    font-size: 24px;
  }

  .wrapper {
    background-image: url("../assets/jasper-lg.jpg");
  }

  .content--wrapper {
    height: 66%;
  }

  .header {
    font-size: 92px;
  }
}

@media (min-width: 1024px) {
}
